<div class="crear-servicio contenedor">
    <form class="formulario" action="/login" method="POST">
      <div class="campo">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Nombre servicio" name="nombre" />
      </div>
      <div class="campo">
        <label for="precio">Precio</label>
        <input
          type="precio"
          id="precio"
          placeholder="Precio servicio"
          name="precio"
        />
      </div>
     <div class="acciones__boton">
        <input type="submit" class="boton" value="Crear Servicio" />
      </div>
    </form>
  </div>
  