<div class="contenedor cita">
  <h2 class="titulo-principal">{{ titulo }}</h2>
  <div class="lista-servicios">
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
    <div class="servicio">
        <h2 class="titulo">Lavado de auto</h2>
        <p class="precio">$ 3000</p>
      </div>
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
    <div class="servicio">
      <h2 class="titulo">Lavado de auto</h2>
      <p class="precio">$ 3000</p>
    </div>
  </div>
  <div class="footer-cita">
    <div class="fecha">
      
        <input type="date" class="input-fecha" />
        <input type="time" class="input-hora"  />
      
    </div>
    <div class="total">
      <p>Total: <span>$30000</span></p>
    </div>
  </div>
  <a href="#" class="boton-cita">Agendar Cita</a>
</div>
