<footer class="footer">
    <div class="container">
      <div class="contenedor">
        <div class="footer__nosotros">
          <h4 class="nombre-pagina"><a href="/">CarWash</a></h4>
          <p>
            Somos una empresa que brinda servicios de limpieza y accesorios para
            automoviles
          </p>
        </div>
        <div class="contacto">
          <h4>Contáctanos</h4>
          <div class="contenido">
            <p>Universidad de Cundinamarca</p>
            <p>318 281 2005</p>
            <p>carwash@carwash.com</p>
          </div>
        </div>
      </div>
      <div class="contenedor-sm">
        <div class="copyright">
          <p>
            <span>CarWash</span> | Todos los Derechos Reservados Copyright &copy;
          </p>
        </div>
      </div>
    </div>
  </footer>
  