<div *ngIf="false" class="servicios contenedor">
  <div class="citas-pendientes">
    <h2 class="title">Servicios</h2>
    <div class="flex">
      <div class="form">
        <div class="campo">
          <input
            type="text"
            id="buscador"
            placeholder="Buscar"
            name="buscador"
          />
        </div>
      </div>
      <a class="btn crear-servicio" href="/crear-servicio">Crear Servicio</a>
    </div>

    <table class="tabla__citas">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="/actualizar-servicio">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="#">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="/actualizar-servicio">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="/actualizar-servicio">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="/actualizar-servicio">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="/actualizar-servicio">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Lavado Auto</td>
          <td>$ 30.000</td>
          <td class="acciones">
            <a class="btn actualizar" href="/actualizar-servicio">Actualizar</a
            ><a class="btn eliminar" href="#">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="true" class="servicios-publicos contenedor">
  <div class="servicios">
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/1.png"
        alt="Imagen servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado</p>
        <span
          >Lavado exterior (Shampoo, encerado y aclarado), aspirado y
          detallado.</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
          <li>Bicileta <span class="precio">$7.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
    <div class="servicios__servicio">
      <img
        class="servicios__servicio__imagen"
        src="/assets/img/2.png"
        alt="Imagen Servicio"
      />
      <div class="servicios__servicio__contenido">
        <p>Lavado + Polichado</p>
        <span
          >Lavado + polichado con máquina y las mejores ceras para la mejor
          protección y brillo</span
        >
        <ul class="servicios__servicio__contenido__lista">
          <li>Carro <span class="precio">$20.000</span></li>
          <li>Camioneta <span class="precio">$25.000</span></li>
          <li>Motocicleta <span class="precio">$15.000</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="boton">
    <a href="/login" class="btn-servicios">Agendar Cita</a>
  </div>
</div>
