<div class="dashboard">
  <div class="botones">
    <a href="/crear-usuario">
      <img src="/assets/img/user.png" alt="Imagen Usuario" />
      <h3>Agregar Usuario</h3>
    </a>
    <a href="/crear-servicio">
      <img src="/assets/img/servicio.png" alt="Imagen Servicio" />
      <h3>Agregar Servicio</h3>
    </a>
    <a href="/crear-cita">
      <img src="/assets/img/cita.png" alt="Imagen Cita" />
      <h3>Agregar Cita</h3>
    </a>
  </div>

  <div class="citas-pendientes">
    <h2 class="title">Citas Pendientes</h2>
    <table class="tabla__citas">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombres y Apellidos</th>
          <th>No Contacto</th>
          <th>Tipo Vehículo</th>
          <th>Servicios</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Johan Moreno</td>
          <td>318 281 2005</td>
          <td>Moto</td>
          <td>Lavado y polichado</td>
          <td>11-11-2022</td>
          <td class="acciones"><a class="btn actualizar" href="#">Actualizar</a><a class="btn eliminar" href="#">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
