<div class="login">
  <h2 class="title">{{ title }}</h2>
  <form
    class="formulario"
    [formGroup]="formLogin"
    (submit)="submitFormulario()"
  >
    <div class="campo">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Tu email"
        formControlName="email"
      />
    </div>
    <div class="campo">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Tu contraseña"
        formControlName="password"
      />
    </div>
    <div class="acciones__boton">
      <button class="boton">Iniciar Sesión</button>
    </div>
    <div class="acciones">
      <a href="/recuperar-contrasena">¿Has olvidado tu contraseña? Recuperar contraseña</a>
      <a href="/registrarse">¿Aún no tienes una cuenta? Crear una cuenta</a>
    </div>
  </form>
</div>
