<div class="hero">
  <div class="contenido">
      
      <p class="contenido__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, a iure
        blanditiis tenetur consequuntur necessitatibus at eius architecto?
        Obcaecati, beatae in ipsum similique nihil itaque accusamus at laborum
        voluptatem, excepturi aliquam quia laudantium quas repellat, voluptate
        debitis enim minus ipsa nam iusto asperiores. Eum natus ducimus rerum sed
        expedita possimus!
      </p>
      <a href="/login" class="btn__solicitar">Agendar Cita</a>
    </div>
    <div class="imagen">
      <img src="/assets/img/lavado.png" alt="Imagen Desarrollador" />
    </div>
  </div>
  
  <div class="servicios-container contenedor">
    <div class="servicios">
      <div class="servicios__servicio">
        <img
          class="servicios__servicio__imagen"
          src="/assets/img/1.png"
          alt="Imagen servicio"
        />
        <div class="servicios__servicio__contenido">
          <p>Lavado</p>
          <span
            >Lavado exterior (Shampoo, encerado y aclarado), aspirado y
            detallado.</span
          >
          <ul class="servicios__servicio__contenido__lista">
            <li>Carro <span class="precio">$20.000</span></li>
            <li>Camioneta <span class="precio">$25.000</span></li>
            <li>Motocicleta <span class="precio">$15.000</span></li>
            <li>Bicileta <span class="precio">$7.000</span></li>
          </ul>
        </div>
      </div>
      <div class="servicios__servicio">
        <img
          class="servicios__servicio__imagen"
          src="/assets/img/2.png"
          alt="Imagen Servicio"
        />
        <div class="servicios__servicio__contenido">
          <p>Lavado + Polichado</p>
          <span
            >Lavado + polichado con máquina y las mejores ceras para la mejor
            protección y brillo</span
          >
          <ul class="servicios__servicio__contenido__lista">
            <li>Carro <span class="precio">$20.000</span></li>
            <li>Camioneta <span class="precio">$25.000</span></li>
            <li>Motocicleta <span class="precio">$15.000</span></li>
          </ul>
        </div>
      </div>
      <div class="servicios__servicio">
        <img
          class="servicios__servicio__imagen"
          src="/assets/img/2.png"
          alt="Imagen Servicio"
        />
        <div class="servicios__servicio__contenido">
          <p>Lavado + Polichado</p>
          <span
            >Lavado + polichado con máquina y las mejores ceras para la mejor
            protección y brillo</span
          >
          <ul class="servicios__servicio__contenido__lista">
            <li>Carro <span class="precio">$20.000</span></li>
            <li>Camioneta <span class="precio">$25.000</span></li>
            <li>Motocicleta <span class="precio">$15.000</span></li>
          </ul>
        </div>
      </div>
      <div class="servicios__servicio">
        <img
          class="servicios__servicio__imagen"
          src="/assets/img/2.png"
          alt="Imagen Servicio"
        />
        <div class="servicios__servicio__contenido">
          <p>Lavado + Polichado</p>
          <span
            >Lavado + polichado con máquina y las mejores ceras para la mejor
            protección y brillo</span
          >
          <ul class="servicios__servicio__contenido__lista">
            <li>Carro <span class="precio">$20.000</span></li>
            <li>Camioneta <span class="precio">$25.000</span></li>
            <li>Motocicleta <span class="precio">$15.000</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="boton">
      <a href="#" class="btn-servicios">Ver Servicios</a>
    </div>
  </div>

 <app-skills></app-skills>