<div id="nosotros" class="nosotros">
    <div class="empresa">
      <h3 class="title">¿Cómo lo hacemos posible?</h3>
      <p>
        Nuestra preocupación extrema por el cuidado de cada cliente es la clave de
        nuestro éxito. Para esto, hemos implementado una serie de estrictas
        normativas, partiendo por una capacitación constante de nuestro personal,
        compra y manutención de equipos permanente e insumos eficientes y
        ecológicos.
      </p>
    </div>
    <div class="skills">
      <div class="skill">
        <img src="/assets/img/1.png" alt="Imagen servicio" />
        <h4>Actitud de servicio</h4>
      </div>
      <div class="skill">
        <img src="/assets/img/2.png" alt="Imagen servicio" />
        <h4>Excelencia</h4>
      </div>
      <div class="skill">
        <img src="/assets/img/3.png" alt="Imagen servicio" />
        <h4>Respeto</h4>
      </div>
      <div class="skill">
        <img src="/assets/img/lavado.png" alt="Imagen servicio" />
        <h4>Trabajo en equipo</h4>
      </div>
    </div>
  </div>
  